body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
img{
    width: 100px;
}
.anime{
    animation: forwards anime 3s;
}
@keyframes anime {
    0%, 100%{
        width: 100px;
    }
    50%{
        width: 700px;
    }
}